# other songbooks
bratruv.pdf
oranzovy.pdf
expedicniKlubovna.pdf

# notes on songs
todo-songs.txt
Zpěvník
Michaela Medek
videa

# generated tex files
*.aux
*.log
*.out
*.sxc
*.sxd
*.sbx
*.mx1
*.fls
*.fdb_latexmk
songs-input.txt
zpevnik-included.tex
zpevnik.toc
